<h2 class="h1-responsive font-weight-bold my-4">
  <i class="bi bi-pc-display-horizontal"></i> Projects
</h2>
<p>
  These are projects of my past, present, future, and occasional hyperfocus. I have a lot of ideas,
  and I'm always looking for new ones. If you have an idea, and you need a developer, please
  <a routerLink="/contact">contact me</a>. This page will primarily serve as a place for me to
  keep track of my own projects, collaborations, and ideas.
</p>

<div class="d-flex flex-row flex-wrap">
  <div class="card m-2" style="width: 18rem;" *ngFor="let p of projects">
    <img class="card-img-top" [src]="p.imageSrc" [alt]="p.alt" />
    <div class="card-body">
      <h5 class="card-title">{{ p.title }}</h5>
      <p class="card-text">{{ p.text }}</p>

      <a *ngIf="p.githubLink" [href]="p.githubLink" target="_blank" class="btn btn-primary">
        <i class="bi bi-github"></i> GitHub
      </a>

      <a *ngIf="p.liveLink" [href]="p.liveLink" target="_blank" class="btn btn-dark mx-2">
        <i class="bi bi-globe2"></i> Live
      </a>
    </div>
  </div>
</div>
